---
- name: configure new VB servers
  hosts: new
  become: true
  become_method: su

  tasks:
    - name: ssh-key add to authorized_keys
      authorized_key:
       user: "{{ ansible_user }}"
       state: present
       key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
      register: ssh_key_add_result

    - name: Показать результат ssh-key add to authorized_keys
      debug:
       var: ssh_key_add_result.stdout

    - name: отключить gdm
      ansible.builtin.command: systemctl disable gdm
  
    - name: Выполнить команду  hostname
      ansible.builtin.hostname:
       name: "{{ inventory_hostname }}" #присваиваем серверам имена из инвентаря
 
    - name: установка curl
      apt:
        name:
         - curl
        state: present
        update_cache: yes


    - name: скачиваем docker-скрипт
      ansible.builtin.command: curl https://get.docker.com -o get-docker.sh


  
    - name: устанавливаем Docker из скрипта
      ansible.builtin.command: sh /home/user1/get-docker.sh

- name: configure new ruVDS servers
  hosts: ruvds
  become: true
  become_method: su

  tasks:
      
    - name: Выполнить команду  hostname
      ansible.builtin.hostname:
       name: "{{ inventory_hostname }}" #присваиваем серверам имена из инвентаря
 
    - name: установка curl
      apt:
        name:
         - curl
        state: present
        update_cache: yes


    - name: скачиваем docker-скрипт
      ansible.builtin.command: curl https://get.docker.com -o get-docker.sh


  
    - name: устанавливаем Docker из скрипта
      ansible.builtin.command: sh /home/user1/get-docker.sh