---
- name: configure new ruVDS servers
  hosts: ruvds

  tasks:
      
    - name: Выполнить команду  hostname
      ansible.builtin.hostname:
       name: "{{ inventory_hostname }}" #присваиваем серверам имена из инвентаря
 
    - name: установка curl
      apt:
        name:
         - curl
        state: present
        update_cache: yes

    - name: скачиваем docker-скрипт
      ansible.builtin.command: curl https://get.docker.com -o get-docker.sh

    - name: устанавливаем Docker из скрипта
      ansible.builtin.command: sh ~/get-docker.sh

    - name: копируем докер-файл на сервера
      ansible.builtin.command: curl https://raw.githubusercontent.com/swargg/swargg.ru/refs/heads/main/dockerfile -o dockerfile

    - name: создаем директорию www
      ansible.builtin.command: mkdir www
      ignore_errors: yes

    - name: копируем файл сайта   
      ansible.builtin.command: curl https://raw.githubusercontent.com/swargg/swargg.ru/refs/heads/main/index.html -o /root/www/index.html

    - name: останавливаем контейнер, если запущен
      ansible.builtin.command: docker stop swarggru
      
    - name: собираем свой контейнер веб-сервера
      ansible.builtin.command: docker build -t swarggru .

    - name: запускаем контейнер веб-сервера
      ansible.builtin.command: docker run --rm -d -v /root/www/:/usr/share/nginx/html/ -p 80:80 --name swarggru swarggru